![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [67]:
# Re-run this cell 
import pandas as pd
import numpy as np

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# Start coding here...
# Add as many cells as you like...
#1. Finding schools with the best math scores performs at least 80% of the maximum possible score of 800.
# in descending order. 
best_math_schools = schools[schools["average_math"]>= 0.8*800]
best_math_schools  = best_math_schools[["school_name","average_math"]].sort_values(["average_math"],ascending=False)
best_math_schools 

#2. Top 10 performing schools based on the combined SAT scores in descending order. 
schools["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"] 
top_10_schools = schools[["school_name","total_SAT"]].sort_values(["total_SAT"],ascending=False).head(10)

#3. Find the school that has the largest standard derivation from the Total_SAT scores 
new_df= round(schools.groupby("borough")["total_SAT"].agg(['count',np.mean,np.std]),2)
new_df.rename(columns = {'count':'num_schools'}, inplace = True)
new_df.rename(columns = {'mean':'average_SAT'}, inplace = True)
new_df.rename(columns = {'std':'std_SAT'}, inplace = True)
largest_std_dev = new_df.sort_values(["std_SAT"],ascending=False).head(1)
largest_std_dev

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29